<div{{ attributes }}>
    <div class="row gx-1 mb-3">
        <div class="col-auto">
            <i class="fa-solid fa-circle-user fs-1 text-primary"></i>
        </div>
        
        <div class="col">
            <b>{{ comment.author.email }}</b>
            
            <div class="mb-2">
                {{ comment.content }}
            </div>
            
            <div>
                <div class="btn-group">
                    <a href="{{ path('app_comment_upvote', { id: comment.id }) }}" class="btn btn-secondary rounded-start-5 btn-sm">
                        <i class="fa-solid fa-up"></i>
                    </a>
                    <div class="bg-secondary text-bg-secondary py-1 px-2">
                        {{ this.countVotes }}
                    </div>
                    <a href="{{ path('app_comment_downvote', { id: comment.id }) }}" class="btn btn-secondary rounded-end-5 btn-sm">
                        <i class="fa-solid fa-down"></i>
                    </a>
                </div>
                <button class="btn btn-secondary rounded-pill btn-sm">
                    <i class="fa-solid fa-comment"></i>
                    Commentaires
                </button>
                <button class="btn btn-secondary rounded-pill btn-sm">
                    <i class="fa-solid fa-share"></i>
                    Partager
                </button>
            </div>
        </div>
    </div>
</div>
